.table-wrapper {
    width: 100%;
}

.table {
    display: block;
    overflow: hidden;
    table-layout: fixed;
    border-collapse: collapse;
    box-shadow: 0px 10px 10px #ccc;
    border-radius: 10px;
    white-space: nowrap;
    width: 100em;
    max-width: 80%;
    margin: auto;
    table-layout: auto;
    overflow-x: auto;
}

.table thead {
    background-color: #ccc;
    color: #222;
}

.table th {
    background-color: #e10d05;
    color: #ddd;
}

.table th,
.table td {
    padding: 1.8rem;
}

.table td {
    border-top: 0.5px solid #ddd;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table tbody tr:hover {
    background-color: #d9534f;
}

.expand {
    width: 100%;
}

.label {
    border-radius: 3px;
    padding: 0.3rem;
    color: white;
}

.label-User {
    background-color: #959494;
}

.label-Manager {
    background-color: #BF41FE;
}

.label-Admin {
    background-color: #d9534f;
}

.label-user {
    background-color: #959494;
}

.label-manager {
    background-color: #BF41FE;
}

.label-admin {
    background-color: #d9534f;
}

.actions {
    display: flex;
    justify-content: space-around;
}

.actions svg {
    cursor: pointer;
}

.delete-btn {
    color: #e10d05;
}