.sidebar ul li:hover {
    background-color: #ff6600;
    border-radius: 5px;
    cursor: pointer;
}

.sidebar ul li:hover a{
    color: white;
}

.active {
    background-color: #ff6600;
    border-radius: 5px;
    color: white;
}

.sidebar {
    background: #fd8f44;
}