.sidebar ul li:hover {
    background-color: rgb(150, 0, 0);
    border-radius: 5px;
    cursor: pointer;
}

.sidebar ul li:hover a{
    color: white;
}

.active {
    background-color: rgb(150, 0, 0);
    border-radius: 5px;
    color: white;
}